
.multiselect {
    /* position: absolute; */
    position: relative;
    top:30px;
    text-align: left;

  
}

.filter.type {
    display: inline-block;
    position: relative;
    top:30px;
}


.filter.sex {
    display: inline-block;
    position: relative;
    top:30px;
}

 .animalsList {
    display: inline-block;
   text-align: center;
 }

.filters {
    text-align: center;
    justify-content: space-around;

}

