:root {
    --nav-width-plus-margin: 250px;
  } 

.main-container {
    margin: 70px 30px 0px var(--nav-width-plus-margin);
    text-align: justify;
}

@media (max-width: 600px) {
    .main-container.small {
        margin: 20px 20px 0px 20px;
    }
}

.link {
    color: whitesmoke;
    text-decoration: none;
}