:root {
    --nav-width-plus-margin: 240px;
  } 

.main-container {
    margin: 80px 30px 0px var(--nav-width-plus-margin);
    text-align: justify;
    max-height: 800px;
}

@media (max-width: 600px) {
    .main-container {
        margin: 50px 20px 0px 20px;
    }
}

.link {
    color: whitesmoke;
    text-decoration: none;
}