.main-picture {
    width:30%;
    height: 30%;
    margin: auto;
    display: block;
    
}

/* HTML code:	#2D328D
RGB code:	R: 45 G: 50 B: 141
HSV:	236.88° 68.09% 55.29% */

.logo  {
    width: 30%;
    height: 30%;
    display: block;
    margin: 0 auto;
}